#root {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

html, body {
  margin: 0; 
  height: 100%; 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#fig {
  width: 538px;
}

.card {
  margin: auto;
  position:absolute;
  width: 1444px;
  height: 870px;
  background-color: white;
  border-radius: 20px;  
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  display: flex;
  justify-content:  space-between;
  align-items: start;
  margin-right: 30px;
  margin-bottom: 2rem;
  margin-top: 21px;
}

.navbar h2{
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 90%;
  transition: all 0.5s ease;
}

.navbar h2.clicked {
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  border-bottom: #95C086 4px solid;
  border-radius: 2px;
}

.page {
  width: 100%;
}


.body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
  border-radius: 20px;  

}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width:600px;
  padding-left: 106px;
}

.left h1,
.left h2,
.left p {
  width: 200px;
  margin: 0px;
}

#title {
  width: 500px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: justify;
}

.container {
  position: relative;
  width: 600px;
}

.container .info {
  position: absolute;
  top: 20px;
  width: 505px;
  height: 142px;
  background-color: #95C086;
  border-radius: 99px;
  margin-left: 120px;
  padding: 10px 0px 10px 37px;
}

.card-details {
  position: absolute;
  top: 20px;
  margin-left: 120px;
  text-align: justify;
}

.header {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 10px;
  background-color: #95C086;
  width: 505px;
  border-radius: 99px;
  padding: 5px 0px 5px 37px;
  line-height: 1.2;
}
.header p {
  width: 470px;
  font-size: 16px;
  font-weight: 500;
}

.detail {
  margin-left: 37px;
  width: 480px;
  line-height: 1.20;
}

#link {
  text-decoration: none;
  color: #7faa6e;
  font-size: 20px;
  font-weight: 600;
  margin-left: 17px;
}

.info h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  z-index: 1;
}
.info p {
  text-align: justify;
  width: 470px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  z-index: 1;
}

.right {
  width: 650px;
  margin-top: 73px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.down:hover {
  color: #95C086;
}

.arrow-right{
  cursor: pointer;
  width: 33px;
  margin-top: 127px;
  margin-right: 8px;
  margin-left: 8px;
  position: absolute;
  right:0;
  top:20px;
  z-index: 2;

}

.arrow-left {
  cursor: pointer;
  width: 33px;
  margin-top: 127px;
  margin-right: 8px;
  margin-left: 8px;
  position: absolute;
  left:0;
  top:20px;
  z-index: 2;
}


@media (max-width: 1500px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
}
