
.contacts {
  text-align: justify;
  width: 400px;
  flex-direction: column;
  margin: auto;
  padding-right:132px;
}

.contacts h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: #95C086 7px solid;
  margin-top: 40px;
  line-height: 90%;
  border-radius: 4px;
}

.contacts h2 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0px;
  margin: 0px;
  margin-top: 45px;
}

.contacts p {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
  margin-top: 0px;
}

.contacts h2:first-child {
  margin-top:80px;
}

.contacts img {
  cursor: pointer;
  width: 70px;
}

.media {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.same {
  position:relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.same .full {
  display: none;
}

/* Change the image on hover */
.same:hover .empty {
  display: none;
}

.same:hover .full {
  display: block;
}
.full{
  display: none;
}
.empty:hover{
  display: none;
}

.full:hover{
  display: block;
}