#root {
  max-width: 1444px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#fig {
  width: 538px;
}

.card {
  position:absolute;
  
  width: 1444px;
  height: 870px;
  background-color: white;
  border-radius: 20px;  
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  display: flex;
  justify-content:  space-between;
  align-items: start;
  padding-right: 30px;
  margin-bottom: 2rem;
  margin-top: 21px;
}

.navbar h2{
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 90%;
  transition: all 0.5s ease;
}

.navbar h2.clicked {
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  border-bottom: #95C086 4px solid;
  border-radius: 2px;
}

.page {
  width: 100%;
}


.body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width:600px;
  padding-left: 106px;
}

.left h1,
.left h2,
.left p {
  width: 200px;
  margin: 0px;
}

#rect {
  width: 380px;
}

#title {
  width: 500px;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: justify;
}

.container {
  position: relative;
  width: 600px;
}

.container .info {
  position: absolute;
  top: 20px;
  margin-left: 130px;
}

.info h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.info p {
  text-align: justify;
  width: 500px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.right {
  width: 650px;
  margin-top: 73px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.down {
  margin:7px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor:  pointer;
  background-color: transparent;
  border: none;
  color: black;
}

.down:hover {
  color: #95C086;
}

.arrow{
  cursor: pointer;
  width: 43px;
  margin-top: 127px;
  margin-right: 8px;
  margin-left: 8px;
}

.cv {
  margin-top: 30px;
  width: 490px;
  border-radius: 20px;
  padding: 5px;
  border: 4px solid #7E7E7E;
}

.about {
  text-align: justify;
  width: 400px;
  flex-direction: column;
  margin: auto;
  padding-right: 68px;
}

.about h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 90%;
  padding: 0px;
  border-bottom: #95C086 7px solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.about h3 {
  width:auto;
  margin: 0px;
  margin-right: 14px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.about p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subheader .lupa {
  width: 30px;
}

a {
  color: rgb(47, 92, 30);
  font-weight: 500;
  text-decoration: underline;
}

.contacts {
  text-align: justify;
  width: 400px;
  flex-direction: column;
  margin: auto;
  padding-right:132px;
}

.contacts h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: #95C086 7px solid;
  margin-top: 40px;
  line-height: 90%;
  border-radius: 4px;
}

.contacts h2 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0px;
  margin: 0px;
  margin-top: 45px;
}

.contacts p {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
  margin-top: 0px;
}

.contacts h2:first-child {
  margin-top:80px;
}

.contacts img {
  cursor: pointer;
  width: 70px;
}

.media {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.same {
  position:relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.same .full {
  display: none;
}

/* Change the image on hover */
.same:hover .empty {
  display: none;
}

.same:hover .full {
  display: block;
}
.full{
  display: none;
}
.empty:hover{
  display: none;
}

.full:hover{
  display: block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

